<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.temp.mapper.fin.FinBillMapper">

    <resultMap id="BaseResultMap" type="com.example.temp.entity.entity.fin.FinBill">

        <id column="id" jdbcType="INTEGER" property="id"/>

        <result column="fk_shp_shop_id" jdbcType="INTEGER" property="fkShpShopId"/>

        <result column="name" jdbcType="VARCHAR" property="name"/>

        <result column="money" jdbcType="DECIMAL" property="money"/>

        <result column="old_money" jdbcType="DECIMAL" property="oldMoney"/>

        <result column="total_money" jdbcType="DECIMAL" property="totalMoney"/>

        <result column="types" jdbcType="VARCHAR" property="types"/>

        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>

        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

        <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin"/>

        <result column="update_admin" jdbcType="INTEGER" property="updateAdmin"/>

        <result column="remark" jdbcType="VARCHAR" property="remark"/>

        <result column="state" jdbcType="VARCHAR" property="state"/>

    </resultMap>

</mapper>